<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
  <legend>Ingrediente</legend>

  <label for="nome">Nome </label>
  <input id="nome" name="nome" [ngModel]="ingrediente.nome" required
  type="text">

  <label for="codigoBarras">Código de barras</label>
  <input id="codigoBarras" name="codigoBarras" [ngModel]="ingrediente.codigoBarras" required
  type="number">

  <label for="preco">Preco</label>
  <input id="preco" name="preco" [ngModel]="ingrediente.preco"
  type="number">

  <label for="volume">Volume</label>
  <input id="volume" name="volume" [ngModel]="ingrediente.volume"
  type="number">

  <label for="descicao">Descição</label>
  <input id="descicao" name="descicao" [ngModel]="ingrediente.descricao"
  type="text">

  <label for="quantidade">Quantidade</label>
  <input id="quantidade" name="quantidade" [ngModel]="ingrediente.quantidade"
  type="number">
  <button type="submit" class="btn btn-primary">Salvar</button>

</form>


